main {
  font: var(--paragraph);
  color: var(--content-secondary);
  display: grid;
  gap: calc(12rem/16);
}

main > div {
  background-color: var(--bg-secondary);
  border-radius: calc(12rem/16);
  min-height: calc(49rem/16);
  & > div {
    padding-inline: calc(12rem/16);
    padding-block: .5rem;
    display: grid;
    grid-template-columns: 1rem 1fr 2rem;
    gap: calc(12rem/16);
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.checkbox {
  height: 1rem;
  width: 1rem;
  background-image: url(../assets/state=Default.svg);
  position: relative;
  & input {
    all: unset;
    position: absolute;
    inset: 0;
  }
  &:hover {
    background-image: url(../assets/state=hover.svg);
  }
  &:has(:checked) {
    background-image: url(../assets/state=selected.svg);
  }
}

.removeButton {
  height: 2rem;
  width: 2rem;
  margin-right: calc(12rem/16);
  background-image: url(../assets/icon\ delete.svg);
  object-fit: ;
  position: relative;
  & button {
    all: unset;
    position: absolute;
    inset: 0;
  }
}

@media (width < 80em) {
  main > div {
    min-height: calc(57rem/16);
    & > div {
      padding: calc(12rem/16);
    }
  }
}